<Jumbo>
  <h2 class="title space-x-0">Welcome to Super Rentals!</h2>

  <p class="my-3" >We hope you find exactly what you're looking for in a place to stay.</p>
  <LinkTo @route="about" class="button">About Us</LinkTo>



</Jumbo>

<LinkTo @route="prueba">PRUEBA</LinkTo>

<div class="grid grid-flow-row ">
<Rentals @rentals={{@model}} />
</div>