  <label class="m-4">
    <span class="text-3xl © font-semibold">Username</span>
    <Input @value={{this.query}} class="border-black border-2 rounded-md border-solid" />
        <span class="text-3xl © font-semibold">Passwords</span>
    <Input @value={{this.query1}} class="border-black border-2 rounded-md border-solid" />
  </label>



  <p>Tu nombre de usuario es {{this.query}}</p>
    <p>Tu contraseña es {{this.query1}}</p>